cffi==1.14.2
cryptography==3.0
Django==2.1
django-seed==0.2.2
Faker==4.1.2
gunicorn==20.0.4
pycparser==2.20
PyMySQL==0.10.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
text-unidecode==1.3
