<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Sign up</h3>

    {% for e in user_creation_form.non_field_errors %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
    <form class="form-horizontal" method="post" action=''>
        {% csrf_token %}
        <fieldset>
            {% for field in user_creation_form %}
            <div class="control-group {% if field.errors %}has-error{% endif %}">
                 {% if field.errors %}{{field.errors}}{% endif %}
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}</div>
            </div>
            {% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Сохранить
            </button>
        </div>
    </form>

</body>
</html>